<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>104119399561-3pjsgfhl8ar83les5qurfav8uv9igeem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104119399561-3pjsgfhl8ar83les5qurfav8uv9igeem</string>
	<key>API_KEY</key>
	<string>AIzaSyA55pfd9bfBaA9ZHGFEtSrCFs5tWosSe0w</string>
	<key>GCM_SENDER_ID</key>
	<string>104119399561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vikas.shetty.Run-And-Fund</string>
	<key>PROJECT_ID</key>
	<string>run-and-fund</string>
	<key>STORAGE_BUCKET</key>
	<string>run-and-fund.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104119399561:ios:a9c5ac3e98f2e77f</string>
	<key>DATABASE_URL</key>
	<string>https://run-and-fund.firebaseio.com</string>
</dict>
</plist>